<div class="m20b">
    <h1>{{addEventLabel()}}</h1>
    <form class="form" name="form" ng-submit="addEvent(form)">
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" ng-model="um.name" required>
        </div>

        <div class="form-group">
            <label>Location</label>
            <input type="text" class="form-control" ng-model="um.location" required>
        </div>
        
        <div class="form-group">
            <label>Type</label>
            <select class="form-control" ng-model="um.type">
                <option>Tech Talks</option>
                <option>Demonstrations</option>
                <option>Competitions</option>
            </select>
        </div>
        
        <div class="form-group">
            <label>Date</label>
            <input type="date" class="form-control" ng-model="um.datetime" required>
        </div>
        
        <button type="submit" class="btn btn-lg btn-primary">{{addEventLabel()}}</button>
    </form>
</div>