<div class="page-header clearfix">
    
  <h2 class="pull-left hidden-sm">Candidates</h2>
  
  <div class="header-controls pull-left">
    <div class="input-group" style="max-width: 400px;">
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-search"></span>
        </span>
        <input type="search" placeholder="Search Candidates..." class="form-control" ng-model="search">
        <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Search By: {{searchString}} <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a ng-click="setSearch('all', 'All')">Search By All</a></li>
              <li><a ng-click="setSearch('name', 'Name')">Search By Name</a></li>
              <li><a ng-click="setSearch('university', 'University')">Search By University</a></li>
              <li><a ng-click="setSearch('major', 'Major')">Search By Major</a></li>
              <li><a ng-click="setSearch('minor', 'Minor')">Search By Minor</a></li>
              <li><a ng-click="setSearch('gpa', 'GPA')">Search By GPA</a></li>
              <li class="divider"></li>
              <li><a ng-click="clearSearch()">Clear Search</a></li>
            </ul>
        </div>
    </div>
  </div>
  
  <!-- Single button -->
  <div class="btn-group pull-right header-controls">
    <button type="button" class="btn btn-default" data-toggle="dropdown">Sort: {{sortString}}</button>
    <button ng-click="swapSortDirection()" type="button" class="btn btn-default dropdown-toggle-none" ng-class="{'dropup': sortDesc}">
        <span class="caret"></span>
        <span class="sr-only">Change Sort Direction</span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a ng-click="setSort('firstName', 'Name')">Sort By Name</a></li>
        <li><a ng-click="setSort('university', 'University')">Sort By University</a></li>
        <li><a ng-click="setSort('major', 'Major')">Sort By Major</a></li>
        <li><a ng-click="setSort('minor', 'Minor')">Sort By Minor</a></li>
        <li><a ng-click="setSort('GPA', 'GPA', true)">Sort By GPA</a></li>
    </ul>
  </div>
  
  <!-- 
  <button ng-click="addClicked()" class="header-controls btn btn-primary pull-right"><span class="glyphicon glyphicon-plus"></span> Add</button>
      -->
  
</div>

<div class="row">
    
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 basic-tile-list">
        <a class="basic-tile-parent" ng-click="addClicked()">
            <basic-tile mode="add"></basic-tile>
        </a>
    </div>
    
    <div ng-repeat="candidate in candidates | megaFilter: {'query': search, 'type': searchMode} | orderBy:sortMode:getSortDesc()" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 basic-tile-list">
        <a href="/candidates/view/{{candidate._id}}" class="basic-tile-parent">
            <basic-tile header="candidate.firstName + ' ' + candidate.lastName" icon="'candidate'" details="pickRelevant(candidate)"></basic-tile>
        </a>
    </div>
</div>