<div id="jobs-top">
    <div class="btn-group pull-right">
      <button type="button" class="btn btn-primary" ng-click="addClicked()">Edit Job</button>
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a ng-click="addClicked()">Edit Job</a></li>
        <li class="divider"></li>
        <li><a ng-click="deleteClicked()">Delete Job</a></li>
      </ul>
    </div>

    <h1>{{jobModel.name}}</h1>
    <h5>{{jobModel.type}}&nbsp;&nbsp;&nbsp;–&nbsp;&nbsp;&nbsp;{{jobModel.location}}</h5>
</div>

  <tabset>
      <tab heading="Details">
          <div class="job-description">
                <div class="descript-header">
                    <p>Description<p>
                    <!-- <button ng-click="addClicked()" class="btn">Edit</button> -->
                </div>
                <div class="descript-content">
                    <div class="descript-row clearfix">
                        <div class="desc-left">Name</div>
                        <div class="desc-right">{{jobModel.name}}</div>
                    </div>
                    <div class="descript-row clearfix">
                        <div class="desc-left">Location</div>
                        <div class="desc-right">{{jobModel.location}}</div>
                    </div>
                    <div class="descript-row clearfix">
                        <div class="desc-left">Type</div>
                        <div class="desc-right">{{jobModel.type}}</div>
                    </div>
                    <div class="descript-row clearfix">
                        <div class="desc-left">Experience</div>
                        <div class="desc-right">{{jobModel.experience}}</div>
                    </div>
                    <div class="descript-row clearfix">
                        <div class="desc-left">Status</div>
                        <div class="desc-right">{{jobModel.status}}</div>
                    </div>
                    <div class="descript-row clearfix">
                        <div class="desc-left">Salary</div>
                        <div class="desc-right">{{jobModel.salary ? '$' + jobModel.salary : 'Unlisted'}}</div>
                    </div>
                    <div class="descript-row clearfix">
                        <div class="desc-left">Description</div>
                        <div class="desc-right long">{{jobModel.description}}</div>
                    </div>
                </div>
            </div>
      </tab>
      <tab heading="Applicants">

  <!-- <button class="pull-right btn btn-primary"><span class="fa fa-plus"></span> Add Interview</button> -->
         <div>

             <a ng-click="addApplicant()" class="btn btn-block btn-lg btn-default" style="margin-bottom: 20px;"> <span class="fa fa-plus"></span> Add Applicant </a>

             <div class="row">
                 <div ng-repeat="app in jobModel.applicants | orderBy: ['-statusInt', '-candidate.name']" ng-class="{'col-xs-12 col-sm-12 col-md-12': app.statusInt >= 2, 'col-xs-12 col-sm-6 col-md-4 col-xl-3': app.statusInt < 2}" class="basic-tile-list">
                     <a href="/candidates/view/{{app.candidate._id}}" class="basic-tile-parent">
                         <basic-tile edit="'true'" edited="editApplicant(app)" ng-class="{'filled': app.status === 'Rejected'}" header="app.candidate.firstName + ' ' + app.candidate.lastName" icon="'candidate'" details="app.status"></basic-tile>
                     </a>
                 </div>
             </div>

         </div>
      </tab>

      <tab heading="Offers">

  <!-- <button class="pull-right btn btn-primary"><span class="fa fa-plus"></span> Add Interview</button> -->
         <div>

             <a ng-click="createOffer()" class="btn btn-block btn-lg btn-default" style="margin-bottom: 20px;"> <span class="fa fa-plus"></span> Create Offer </a>

             <div class="job-description" ng-repeat="int in um.interview | orderBy: '-datetime'">
                 <div class="descript-header">
                     <p>{{int.type}}<p>
                 </div>
                 <div class="descript-content">
                     <div class="descript-row">
                         <div class="desc-left">Date</div>
                         <div class="desc-right">{{int.datetime}}</div>
                     </div>
                     <div class="descript-row">
                         <div class="desc-left">Interviewer</div>
                         <div class="desc-right">{{int.interviewer.name}} ({{int.interviewer.email}})</div>
                     </div>
                     <div class="descript-row">
                         <div class="desc-left">Notes</div>
                         <div class="desc-right">{{int.notes}}</div>
                     </div>
                 </div>
             </div>

         </div>
      </tab>
  </tabset>
