  <div id="jobs-top">
      
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-primary" ng-click="addClicked()">Edit Candidate</button>
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a ng-click="addClicked()">Edit Candidate</a></li>
          <li class="divider"></li>
          <li><a ng-click="deleteClicked()">Delete Candidate</a></li>
        </ul>
      </div>
      
      <h1>{{um.firstName + ' ' + um.lastName}}</h1>
      <h5>{{deArray(um.major)}}&nbsp;&nbsp;&nbsp;–&nbsp;&nbsp;&nbsp;{{deArray(um.university)}}</h5>
  </div>
  
<tabset>
    <tab heading="Details">
        <div class="job-description">
              <div class="descript-header">
                  <p>Description<p>
                  <!-- <button ng-click="addClicked()" class="btn">Edit</button> -->
              </div>
              <div class="descript-content">
                  <div class="descript-row clearfix">
                      <div class="desc-left">Name</div>
                      <div class="desc-right">{{um.firstName + ' ' + um.lastName}}</div>
                  </div>
          
                  <div class="descript-row clearfix">
                      <div class="desc-left">Email</div>
                      <div class="desc-right">{{um.email}}</div>
                  </div>
          
                  <div class="descript-row clearfix">
                      <div class="desc-left">Phone</div>
                      <div class="desc-right">{{um.phone}}</div>
                  </div>
                  <div class="descript-row clearfix">
                      <div class="desc-left">Address</div>
                      <div class="desc-right">{{um.address}}</div>
                  </div>
          
                  <div class="descript-row clearfix">
                      <div class="desc-left">University</div>
                      <div class="desc-right">{{deArray(um.university)}}</div>
                  </div>
          
                  <div class="descript-row clearfix">
                      <div class="desc-left">Major</div>
                      <div class="desc-right">{{deArray(um.major)}}</div>
                  </div>
                  
                  <div class="descript-row clearfix">
                      <div class="desc-left">Minor</div>
                      <div class="desc-right">{{deArray(um.minor)}}</div>
                  </div>
          
                  <div class="descript-row clearfix">
                      <div class="desc-left">GPA</div>
                      <div class="desc-right">{{um.GPA}}</div>
                  </div>
                  <div class="descript-row clearfix">
                      <div class="desc-left">Experience</div>
                      <div class="desc-right long">{{um.experience}}</div>
                  </div>
                  <div class="descript-row clearfix">
                      <div class="desc-left">Interests</div>
                      <div class="desc-right long">{{um.interests}}</div>
                  </div>
                  <div class="descript-row clearfix">
                      <div class="desc-left">Skills</div>
                      <div class="desc-right long">{{um.skills}}</div>
                  </div>
              </div>
          </div>
    </tab>
    <tab heading="Interviews">

<!-- <button class="pull-right btn btn-primary"><span class="fa fa-plus"></span> Add Interview</button> -->
       <div>
           
           <a class="btn btn-block btn-lg btn-default"> <span class="fa fa-plus"></span> Add Interview </a>
     
           <div class="job-description" ng-repeat="int in um.interview">
               <div class="descript-header">
                   <p>{{int.type}}<p>
               </div>
               <div class="descript-content">
                   <div class="descript-row">
                       <div class="desc-left">Date</div>
                       <div class="desc-right">{{int.datetime}}</div>
                   </div>
                   <!--<div class="descript-row">
                       <div class="desc-left">Interviewer</div>
                       <div class="desc-right">{{int.}}</div>
                   </div>-->
                   <div class="descript-row">
                       <div class="desc-left">Notes</div>
                       <div class="desc-right">{{int.notes}}</div>
                   </div>
               </div>
           </div>
     
       </div>
    </tab>
</tabset>
